.pokemon-list {
    display: flex;
    flex-wrap: wrap;
}
.pokemon-container {
    display: flex;
    width: 150px;
}

.list-button {
    padding: 5px;
    margin: 10px;
}

.search-container {
    display: flex;
    align-content: center;
    input {
        margin: auto;
    }
}
.pagination-controls {
    display: flex;
    align-content: center;
    div {
        margin: auto;
    }
}

.list-button-container {
    display: flex;
    align-content: center;
    div {
        margin: auto;
    }
}